input{
    margin-bottom: 5px;
}


.ms-2 {
    margin: 3px 0;
}

.input_text {
    width: 111px;
    overflow: hidden;
    margin-bottom: 5px;
}

.image{
    display: flex;
    width: 500px;
    justify-content: center;
    img{
        width: 200px;
        height: 150px;
        
    }
    
}

