.tbtour {
    width: 100%;
}

    button{
        margin-left: 5px;
    }
.content {
    width: 200px;
    
}

.picture {
    width: 70px;
}
img{
    width: 100px;
    object-fit: cover;
}

.gia{
    width: 20px;
}

.name1 {
    width: 200px;
    flex-wrap: wrap;
}



.ct{
    display: flex;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}